footer {
    width: 100vw;
        background-color: var(--green);
        display: grid;
        flex-direction: column;
        align-items: center;
        color: var(--header-color);
        font-family: Arial, sans-serif;

    & .footer-pixel {
        width: 100vw;
        height: 80px;
        padding-top: 20px;
        background: url(../../../assets/img/footer_pixel.svg) top center / 100% no-repeat;
    }

    & .footer-logo {
        text-align: center;
        margin: 20px 0;
        margin-top: 40px;
        margin-left: 10px;
    }
    
    .footer-logo img {
        margin-top: 15px;
        width: 350px;
        height: auto;
        margin-bottom: ;
    }

    & .footer-menu a {
        display: block;
        text-decoration: none;
        color: var(--header-color);
        font-weight: 600;
        margin-bottom: 5px;
    }
    
    .footer-menu small {
        font-size: 12px;
        line-height: 1;
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
    }

        & li {
            list-style: none;
            padding: 20px;
            display: block;
            margin-top: 5px;
            margin-bottom: 5px;

            & a {
                padding: 20px;
                text-decoration: none;
                text-transform: uppercase;
                color: var(--header-color);
                font-weight: 700;
                text-decoration: none;
                color: var(--header-color);
                font-weight: 600;
                margin-bottom: 5px;
            }
        }

    }

    & .footer-social {
        text-align: center;
        margin-top: 20px;
    }
    
    .footer-social h4 {
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .footer-social .social-icons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-bottom: 50px;
    }
    
    .footer-social .social-icons a img {
        width: 24px;
        height: 24px;
    }

