body {
    padding-top: 86px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px 0;
    color: var(--black);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

/* Limite la largeur des images à 390px (dimension max d'un iPhone 15) sauf carrousel et hero */
img:not(.carrousel img):not(.hero img) :not(.menu img) {
    max-width: 390px;
    width: 100%;
}

/* Texte : Padding de 20px */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    /* Gère les débordements */
}

h2 {
    font-size: 29px;
    text-transform: uppercase;
    /* color: var(--purple); */
}

/* Pas de marge ou padding pour le hero */
.hero {
    margin: 0;
    padding: 0;
}

/* Cible spécifique : Vidéo dans la galerie */
.gallery__item video {
    max-width: 390px;
    width: 100%;
    height: auto;
    margin: 0 20px;
}

small:not(.footer small) {
    display: block;
    text-align: center;
    margin: 10px auto;
    width: fit-content;
}
/* body {
    padding-bottom: 50px;
    /* Ajoute 50px d'espace en bas */

.card .bg-bleu{
    margin-right: -20px;
    margin-left: 40px;
}

img.full-width{
    margin-inline: -20px;
}

.img-responsive {
    max-width: 280px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 15px;
}
