/* juste poutr le swipper*/
.swiper {
    width: 100dvw;
    height: 340px;
    margin-inline: auto; 
    margin-top: 60px;
    margin-bottom: 60px;
}
.swiper-button-next, .swiper-button-prev {
color: var(--green) !important;
}
.swiper-pagination-bullet-active{
    background-color: var(--green) !important;
}
.swiper-slide{
    text-align: center;
}

.swiper-slide img{
object-fit: cover;
width: 100%;
height: 100%;
}
.swiper-slide img.portrait{
object-fit: contain;
width: auto;
height: 100%;
}
.swiper-slide img.landscape{
object-fit: cover;
width: 100%;
height: auto;
}