.hero-section {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.hero-section__title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-section__image {
    max-width: 100%;
    height: auto;
}

.bloc-hero {
position: relative;
z-index: 1;
    & .bloc-center{
        position: absolute;
        z-index: 2;
        inset: 0;
        display: grid;
        place-items: center;
        & .bloc-title{
            text-align: center;
            width: 70%;
        }
        & .hero-button{
        height: 40px;
        border-radius: 20px;
         border:2px solid white;
         color: white; 
         text-transform: uppercase;
         padding-inline: 15px;
         padding-top: 5px;
         margin-top: 20px;
         display: inline-block;
           
        }
        & img{
            padding-top: 330px;
            width : 90%;
            height: auto;
        }
    }
}

/* option pour assombrir l'image */
.darkest-1 {
    filter: brightness(0.8);
}
.darkest-2 {
    filter: brightness(0.60);
}