.hero {
    text-align: center;
}

.hero__title {
    font-size: 55px;
    color: var(--green);
}

.hero__title-highlight {
    color: #333;
}

.hero {
    position: relative;
    margin-top: 56px;
}

.bloc-img {
        width: 100vw;
        height: 474px;
        overflow: hidden;
    }