.menu {
    display: flex;
    z-index: 3;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.logo {
    height: 50px;
}

.logo img {
    height: 100%;
    width: auto;
}

.menu-panel {
    position: fixed;
    top: 0;
    left: 0;
    /* Pour qu'il commence à gauche */
    right: 0;
    /* Pour couvrir toute la largeur */
    bottom: 0;
    /* Pour couvrir toute la hauteur */
    background-color: var(--dark_blue);
    /* Ajustez si nécessaire */
    transition: transform 0.3s ease-in-out;
    /* Douce transition */
    transform: translateX(-100%);
    /* Hors de l'écran par défaut */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    /* Organisation verticale */
    justify-content: center;
    /* Centrer le contenu verticalement */
    align-items: center;
    /* Centrer le contenu horizontalement */
}

.menu-panel.go-right {
    transform: translateX(0);
    /* Révèle le menu */
}

.menu-panel__list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-panel__item {
    margin: 1rem 0;
    /* Espacement entre les éléments */
}

.menu-panel__link {
    text-decoration: none;
    font-size: 1.5rem;
    /* Taille du texte */
    color: var(--green);
    /* Utilise la couleur définie */
    transition: color 0.3s ease;
}

.menu-panel__link:hover {
    color: var(--green);
    /* Change la couleur au survol */
}

.btnclose {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: var(--green);
    font-size: 2rem;
    cursor: pointer;
    z-index: 1100;
} 

.menu-panel__nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.menu-panel__nav ul li {
    margin: 1rem 0;
    display: block;
}

.menu-panel__nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--green); /* Applique la couleur verte uniquement ici */
    transition: color 0.3s ease;
    line-height: 2;
}

.menu-panel__nav ul li a:hover {
    color: #ffffff;
    /* Couleur au survol */
    background-color: #007700;
    /* Exemple de couleur de fond au survol (facultatif) */
}
