.timeline {
  position: relative;
  padding: 50px 0;
}

.timeline__content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline__content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px; /* Ajustez cette valeur selon la largeur de votre image */
  height: 100%;
  background: url('/assets/img/frise_barre.webp') repeat-y center;
  transform: translateX(-50%);
  z-index: -1;
}

.timeline__item {
  display: flex;
  justify-content: flex-end;
  padding-right: 55%; /* Augmenté pour plus d'écart */
  position: relative;
  margin-bottom: 50px;
  width: 100%;
}

.timeline__item:nth-child(even) {
  justify-content: flex-start;
  padding-left: 55%; /* Augmenté pour plus d'écart */
}

.timeline__date {
  display: block;
  font-weight: bold;
  margin-bottom: 15px; /* Augmentez cette valeur pour plus d'espace */
}

.timeline__item:nth-child(odd) .timeline__content {
  text-align: right;
}

.timeline__item:nth-child(even) .timeline__content {
  text-align: left;
}


.timeline__item:nth-child(even) {
  justify-content: flex-start;
  padding-left: 55%; /* Écart entre les éléments */
  padding-right: 0;
}

.timeline__image {
  width: 150px; /* Définissez la largeur spécifique souhaitée */
  height: 150px; /* Conserve les proportions de l'image */
  margin: 20px; /* Marge autour des images */
}

/* Couleur des chiffres dans h2 */
.timeline__item h2 {
    font-size: 30px;
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100px;
    /* Ajustez selon la largeur de vos chiffres */
    color: var(--green);
    /* Utilisation de la variable CSS pour la couleur */
}
