.bloc-timeline {
    display: grid;
    grid-template-columns: 1fr 90px 1fr;
    grid-template-rows: repeat(13, 400px);

    & .bloc-img {
        display: grid;
        place-items: center;
    }

    & .bloc-date {
        display: grid;
        place-items: center;
        background-color: var(--dark_blue);
        font-size: 36px;
        font-weight: bold;
        color: var(--green);

        &.top {
            background: url(../../../assets/img/pixel_top_timeline.svg), var(--dark_blue);
            background-size: contain;
            background-position-y: top;
            background-repeat: no-repeat;
        }

        &.bottom {
            background: url(../../../assets/img/pixel_bottom_timeline.svg), var(--dark_blue);
            background-size: contain;
            background-position-y: bottom;
            background-repeat: no-repeat;
        }
    }

    & .bloc-text {
        display: grid;
        place-items: center;
        padding-left: 15px;
        padding-right: 10px;
    }
}